/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1; }

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


/*
 * Generic element styles
 */

#page {
    width: 80%;
    min-width: 800px;
    padding: 0;
    position: relative;
}

#page h1, #page h2, #page h3 {
    margin-top: 0;
}

p, ol, ul, td {
    font-size: 0.8em;
}

header {
    display: block;
    padding: 6px;
    background-color: #98DA0D;
    background-image: url('images/ui-bg_highlight-soft_75_98da0d_1x100.png');
    background-position-y: -30px;
    color: #202020;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
}

footer {
    margin-top: 1em;
    display: block;
    background-color: #98DA0D;
    background-image: url('images/ui-bg_highlight-soft_75_98da0d_1x100.png');
    background-position-y: -30px;
    color: #202020;
    height: 3em;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
}

.menubuttons {
    float: right;
    display: inline-block;
    font-size: 0.8em;
}

.menubuttons .button {
    margin: 0;
    width: 122px;
    text-align: center;
    float: left;
    padding: 1em;
}

.menubuttons .button:hover {
    background-color: #98DA0D;
    color: #FFFFFF;
}

label {
    color: #606060;
}

input, textarea {
    background-color: #FFFFFF;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 4px;
}

input[type=number] {
    width: 40px;
}

a {
  text-decoration: none;
}

.wrapper {
    min-width: 720px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Common button styles */

.button {
    cursor: pointer;
}

/* Commonly used colors, borders, fonts */

.menubuttons .button {
}

.button.primary {
    display: block;
    background: #B90B71;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D92B91', endColorstr='#B90B71'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#D92B91), to(#B90B71)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #D92B91, #B90B71); /* for firefox 3.6+ */
    border: 1px solid #A0A0A0;
    color: #FFFFFF;
    font-size: 1.2em;
    text-shadow: 0.1em 0.1em #000000;
    text-align: center;
}

.button.primary:hover {
    background: #B90B71;
}

.button.primary:active {
    background: #D92B91;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B90B71', endColorstr='#D92B91'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#B90B71), to(#D92B91)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #B90B71, #D92B91); /* for firefox 3.6+ */
}

.button.secondary {
    line-height: 1em;
}

.content {
    padding: 1em;
}

.form-row {
    position: relative;
    line-height: 2em;
    margin: 1em 0;
}

.form-row.textarea {
    min-height: 100px;
}

.form-actions {
    height: 60px;
}

.form-actions .submit {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 10px;
    width: 100px;
    position: absolute;
    right: 2em;
}

.field input[type=text], .field textarea {
    width: 300px;
}

.added-item {
    padding: 10px;
    width: 200px;
    line-height: 1em;
    border: 1px solid #606060;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin: 0.2em;
}

.item-field {
    position: relative;
    width: 310px;
    line-height: 2.4em;
}

.item-field input[type=text] {
    width: 218px;
}

.panel {
    padding: 10px;
    border: 2px solid #00A000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.pool {
  
}

.section {
    margin-bottom: 2em;
}

.user-information {
    background-color: #98DA0D;
}

.user-item {
    background-color: #FFFFFF;
    border: 2px solid #00A000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 6px;
    font-size: 0.8em;
    position: relative;
    margin-bottom: 5px;
    line-height: 2em;
}

.remove-item {
    display: inline-block;
    position: absolute;
    padding: 3px;
    top: 7px;
    right: 0;
}

.user-item .remove-item {
    position: absolute;
    right: 10px;
    padding: 3px;
    top: 7px;
}

.user-item .name {
}

.user-item .amount {
    position: absolute;
    right: 45%;
}

.user-item .comment {
    position: absolute;
    right: 50px;
    width: 30%;
}

.needed-item {
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #B90B71;
    margin: 10px;
    font-size: 0.8em;
}

.needed-item:hover {
    background-color: #B90B71;
    color: #FFFFFF;
}

.emptiness-indicator {
    font-style: italic;
}

table tr {
    border: 2px solid #00A000;
}

table td {
    padding: 10px;
}

table tr.row-even {
    background-color: #78C00D;
}

table tr.row-odd {
    background-color: #98DA0D;
}

/* Hints */

.hint {
    display: inline-block;
    position: relative;
}

.hint-button {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}

.hint .hint-message {
    display: inline-block;
    font-size: 0.8em;
    position: absolute;
    left: 40px;
    top: 0;
    width: 200px;
    line-height: 1.2em;
    padding: 6px 10px 6px 0;
}

.hint .hint-message .ui-icon {
    display: inline-block;
    vertical-align: top;
}

.hint .hint-message .hint-text {
    display: inline-block;
    width: 180px;
}

/* Errors */

#errorExplanation {
    font-size: 1em;
}

#errorExplanation h2 {
    font-size: 1.2em;
    margin: 10px;
}

#errorExplanation ul {
    margin-top: 0;
}

.field_with_errors {
    display: inline;
}

.field_with_errors input, .field_with_errors textarea {
    border: 1px solid #FF0B51;
    background: #FFE1DC url(images/ui-bg_diagonals-medium_70_ffe1dc_40x40.png) 50% 50% repeat;
}

/* 
 * Element-specific styles 
 */

/*
 * Element styles for home screen
 */

#serviceLogo {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#instructions {
    margin-left: auto;
    margin-right: auto;
}

#eventCreationContainer {
    border-bottom: 2px solid #000000;
    margin-top: 30px;
}

#eventCreationForm {
    border-top: 2px solid #000000;
    position: relative;
}

#eventCreationForm form {
    margin: 1em 0;
    border: 1px solid #A0A0A0;
    padding: 2em;
}

#eventCreationForm .label {
    display: inline-block;
    width: 30%;
}

#eventCreationForm .inputgroup {
    display: inline-block;
    position: absolute;
    left: 30%;
}

#createAnEvent {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    padding: 20px 60px;
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    border-bottom: 0;
    font-size: 1.2em;
    text-shadow: 0.1em 0.1em #000000;
    text-align: center;
}

#eventCreationHeader {
    padding: 10px;
    background-color: #98DA0D;
    color: #FFFFFF;
    margin-bottom: 1em;
}

#eventCreationHeader h2 {
    margin: 0;
}

#addNewItemButton {
    display: block;
    padding: 10px;
    line-height: 1em;
    font-size: 0.9em;
}

#items {
}

#items .inputgroup {
    width: 310px;
}

#itemList {
    min-height: 60px;
}

#itemList .inputgroup {
    position: relative;
}

#newEvent {
    border-top: 2px solid #000000;
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
}

#presentationContainer {
    background: #98DA0D;
    height: 26em;
    position: relative;
}

#infoLinks {
    margin-left: auto;
    margin-right: auto;
    width: 366px;
    float: none;
    display: block;
}

#infoLinks .button {
    float: left;
    padding: 10px 0;
    background-color: #D9FBAE;
}

#infoLinks .button:hover {
    color: #FFFFFF;
    background-color: #98DA0D;
}

/*
 * Element styles for event screen
 */

#eventInformation {
    margin-top: 1em;
}

#eventAuthor {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
}

#eventAuthor h3 {
    font-size: 1em;
    margin: 0;
}

#eventAuthor span {
    font-size: 0.8em;
}

#eventLink {
    position: relative;
}

#eventLink p {
    display: inline-block;
    margin-right: 1em;
}

#eventUrl {
    font-size: 0.8em;
    padding: 10px;
    display: inline-block;
}

#eventUrl a:link, #eventUrl a:visited {
    color: #202020;
}

#eventUrl a:hover, #eventUrl a:active {
    color: #B90B71;
}

#eventItems h3 {
    color: #00A000;
}

#checkedEventItems h3 {
    color: #00A000;
}

#checkedEventItemsPool {
    width: 100%;
}

#checkedEventItemsPool {
    text-align: left;
}

#checkedEventItemsPool th {
    padding: 10px;
}

#checkedEventItemsPool td {
    border: 1px solid black;
}

#checkedEventItemsPool .item-name {
    width: 20%;
}

#checkedEventItemsPool .item-amount {
    width: 10%;
}

#checkedEventItemsPool .item-author {
    width: 30%;
}

#eventUserActions {
    
}

#eventUserActionsForm {
    position: relative;
    height: 65px;
}

#eventUserActionsForm #userName {
    width: 180px;
}

#userItems {
    position: absolute;
    left: 0;
    right: 42%;
    top: 0;
    padding-bottom: 5px;
}

#userItems .emptiness-indicator {
    margin-top: 5px;
    margin-bottom: 10px;
}

#userName {
    position: absolute;
    left: 60%;
}

#userItemConfirm {
    position: absolute;
    right: 0;;
    top: 0;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 1.0em;
}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
