<tr class="<%= even_row ? "row-even" : "row-odd" %> checked-item">
    <td class="item-name"><span><%= b_item.item.name %></span></td>
    <td class="item-amount"><span><%= b_item.quantity %></span></td>
    <td class="item-author"><span><%= b_item.attendant.name %></span></td>
    <td class="item-comment"><span><%= b_item.comment %></span></td>
</tr>