<div id="eventCreationForm" <%= @js ? "class=hidden" : "" %>>
    <div id="eventCreationHeader">
        <h2><%= new_event ? "Create a new event" : "Editing event \"#{@event.name}\"" %></h2>
    </div>
    <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
    <div id="errorExplanation" class="ui-state-error ui-corner-all">
        <h2>Note! <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
            <% @event.errors.each do |attr, msg| %>
            <li>
                <%= msg %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="form-row">
        <h3>Event details</h3>
    </div>
    <div class="field form-row">
        <div class="label">
            <%= f.label :name, "Name your event" %>
        </div>
        <div class="inputgroup">
            <%= f.text_field :name %>
            <div class="hint">
              <div class="hint-button button ui-state-default ui-corner-all">
                <span class="ui-icon ui-icon-info"></span>
              </div>
              <div class="hint-message ui-state-highlight ui-corner-all">
                <span class="ui-icon ui-icon-triangle-1-w"></span>
                <span class="hint-text">Event name is something the event can be recognized with. It is visible in when viewing and editing your event.</span>
              </div>
            </div>
        </div>
    </div>
    <div class="field form-row textarea">
        <div class="label">
            <%= f.label :description, "Event description" %>
        </div>
        <div class="inputgroup">
            <%= f.text_area :description, :rows => "4"%>
            <div class="hint">
              <div class="hint-button button ui-state-default ui-corner-all">
                <span class="ui-icon ui-icon-info"></span>
              </div>
              <div class="hint-message ui-state-highlight ui-corner-all">
                <span class="ui-icon ui-icon-triangle-1-w"></span>
                <span class="hint-text">Enter a description of your event. The event description is a short story about why you need the items below. The description will be visible on the event page.</span>
              </div>
            </div>
        </div>
    </div>
    <div class="field form-row">
        <div class="label">
            <%= f.label :email, "Your email" %>
        </div>
        <div class="inputgroup">
            <%= f.text_field :email %>
            <div class="hint">
              <div class="hint-button button ui-state-default ui-corner-all">
                <span class="ui-icon ui-icon-info"></span>
              </div>
              <div class="hint-message ui-state-highlight ui-corner-all">
                <span class="ui-icon ui-icon-triangle-1-w"></span>
                <span class="hint-text">Your email is only used for sending you the links to view and edit your event. Your email address is <strong>never</strong> given to any third parties.</span>
              </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <h3>Items</h3>
    </div>
    <div id="items" class="form-row">
        <div class="label">
            <label>Which items are needed?</label>
        </div>
        <div class="inputgroup">
            <label>Give the name and quantity of each item.</label>
        </div>
    </div>
    <div id="itemList" class="form-row">
        <div class="inputgroup">
            <% f.fields_for :items do |builder| %>
              <%= render 'item_field', :f => builder %>
            <% end %>
        </div>
    </div>
    <div class="form-actions form-row">
      <a class="no-js-element" href="/events/new/<%= if new_event then item_count + 1 end %>">
        <div class="inputgroup">
            <span id="addNewItemButton" class="button ui-state-default ui-corner-all">Add another</span>
        </div>
      </a>
    </div>
    <div class="form-actions form-row">
        <%= f.submit new_event ? "Submit" : "Confirm", :class => "ui-state-default ui-corner-all submit button"%>
    </div>
    <% end %>
</div>
