<header>
    <a href="/">
      <img src="/images/camilonalogo.png" alt="" width="100" height="33" />
    </a>
    <div class="menubuttons container">
        <div id="about" class="button">
            <span>About</span>
        </div>
        <div id="privacy" class="button">
            <span>Privacy</span>
        </div>
        <div id="feedback" class="button">
            <span>Feedback</span>
        </div>
    </div>
    <div id="dialog" style="display: none">
        
    </div>
</header>