<div class="item-field">
    <%= f.text_field :name, :placeholder => "Item name"%>
    <%= f.number_field :needed_quantity, :min => "1", :value => "1"%> 
    <div class="ui-state-default ui-corner-all remove-item button secondary">
        <span class="ui-icon ui-icon-closethick">Remove</span>
    </div>
</div>
