<% needed_quantity = item.needed_quantity - item.current_quantity %>
<% if needed_quantity > 0 %>
<div class="needed-item button visible">
    <span class="item-id hidden"><%= item.id %></span>
    <span class="name"><%= item.name %></span>
    <span class="needed-quantity"><%= needed_quantity %></span>
</div>
<% end %>