<% 
simpleversion = (defined? item_index) && (defined? item)
if (simpleversion)
  id = item.id
  name = item.name
  quantity = item.needed_quantity - item.current_quantity
  min = 0
  hash_name = "items[item"+item_index.to_s()+"]"
else
  id = ""
  name = "Item name"
  quantity = 1
  min = 1
  hash_name = "item"
end 
%>
<% if quantity > 0 %>
<div class="user-item">
    <% if simpleversion %>
      <span><%= quantity %></span>
    <% end %>
    <input type="hidden" name="<%= hash_name %>[item-id]" class="item-id" value="<%= id %>" />
    <span class="name"><%= name %></span>
    <input type="text" name="<%= hash_name %>[item-comment]" placeholder="Comment" class="comment"/>
    <input type="number" name="<%= hash_name %>[item-amount]" min="<%= min %>" max="<%= quantity %>" value="<%= min %>" class="amount"/>
    <% if !simpleversion %>
    <div class="ui-state-default ui-corner-all remove-item button secondary">
        <span class="ui-icon ui-icon-closethick"></span>
    </div>
    <% end %>
</div>
<% end %>
