<div id="page" class="container" role="main">
    <div id="eventCreationContainer" class="container">
        <%= render 'form', :new_event => false, :item_count => 0 %>
    </div>
</div>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
