<div id="page" class="container" role="main">
  <div id="serviceLogo">
    <img src="/images/camilonalogo.png" alt="" width="300" height="100"/>
  </div>
  <div id="eventCreationContainer" class="container">
    <a class="no-js-element" href="/events/new">
    <div id="createAnEvent" class="ui-state-default button">
      <span id="createEventLabel">Create an event</span>
    </div> </a>
    <%= render 'form', :new_event => true, :item_count => 1 %>
  </div>
  <div id="presentationContainer" class="container content">
    <h3>The doodle of items.</h3>
    <div id="instructions">
   	 <img src="/images/instructions.png" alt="" width="903" height="329"/>
  	</div>
  </div>
  <div id="infoLinks" class="menubuttons">
        <div id="about" class="button">
            <span>About</span>
        </div>
        <div id="privacy" class="button">
            <span>Privacy</span>
        </div>
        <div id="feedback" class="button">
            <span>Feedback</span>
        </div>
    </div>
    <div id="dialog" style="display: none">
        
    </div>
</div>
