require.config({
    baseUrl: '/javascripts',
  
    paths: {
        'jquery': 'libs/jquery-1.7.1.min',
        'jquery-ui': 'libs/jquery-ui-1.8.18.custom.min',
        'jquery-rails': 'libs/jquery-rails-module',
        'text': 'libs/text',
        'order': 'libs/order',
        'resources': '../resources'
    }
});

require([
    'order!jquery',
    'order!jquery-ui'
], function() {
  require([
    'views/<%= @app %>',
    'common'
    ], function(App, Common) {
    App.initialize();
    Common.initialize();
  });
});
