<div id="page" class="container" role="main">
    <div id="eventCreationContainer" class="container">
        <%= render 'form', :new_event => true, :item_count => @item_count %>
    </div>
</div>

<%= link_to 'Back', events_path %>
