<% simple_version = controller.action_name == "show_simple" %>
<div id="page" class="container" role="main">
  <div id="eventInformation" class="section">
    <div id="eventAuthor">
      <h3>Event created by:</h3>
      <span><%= @event.email %></span>
    </div>
    <h2><%= @event.name %></h2>
    <p>
      <%= @event.description %>
    </p>
    <% if flash[:notice] %>
    <div id="eventLink">
      <p>
        <strong>Send this link to participants:</strong>
      </p>
      <div id="eventUrl" class="ui-state-highlight ui-corner-all">
        <%= link_to event_url(@event), @event %>
      </div>
      <div>
      <p>
        <strong>Save this link for editing the event:</strong>
      </p>
       <div id="eventUrl" class="ui-state-highlight ui-corner-all">
        <%= link_to event_url(@event) + "/" + @event.hash_val.to_s, event_url(@event) + "/" + @event.hash_val.to_s%>
      </div>
      <div>
      </div>
        <p>For a non-javascript version of this page, <%= link_to "click here", event_url(@event)+"/simple"%>.</p>
      </div>
    </div>
    <% end %>

  </div>
  <% if !simple_version %>
  <div id="eventItems" class="section">
    <h3>These items are still needed:</h3>
    <div id="eventItemPool" class="panel pool">
      <% @event.items.each do |item| %>
      <%= render 'needed_item', :item => item %>
      <% end %>
      <p class="emptiness-indicator <%= @event.items.count > 0 ? "hidden" : "" %>">
        OMG! There are no more items to bring.
      </p>
    </div>
  </div>
  <% end %>
  <% if simple_version %>
  <div id="eventItems" class="section">
    <h3>Select the items you want to bring</h3>
    <%= form_for(@event, :url => "/events/"+@event.id.to_s()+"/add-attendant") do |f| %>
    <div class="panel user-information">
      <% @event.items.each_with_index do |item, i| %>
      <%= render "user_item", :item => item, :item_index => i+1 %>
      <% end %>
      <input type="text" placeholder="Write your name here" name="name" />
      <div class="form-actions form-row">
        <%= f.submit "Confirm", :class => "ui-state-default ui-corner-all submit button"%>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
  <div id="eventUserActions" class="section">
    <h3>What are you bringing?</h3>
    <div>
      <form id="eventUserActionsForm">
        <input id="eventid" type="hidden" value="<%= @event.id %>" />
        <div id="userItems" class="panel user-information">
          <p class="emptiness-indicator">
            Click items in the above box to add them here.
          </p>
        </div>
        <input id="userName" type="text" placeholder="Write your name here" name="params[username]" />
        <div id="userItemConfirm" class="button ui-state-default ui-corner-all">
          <span>Confirm items</span>
        </div>
      </form>
    </div>
  </div>
  <% end %>
  <div id="checkedEventItems" class="section">
    <h3>These items are being brought by others:</h3>
    <div class="pool">
      <table id="checkedEventItemsPool" class="pool">
        <% if @event.attendants.count > 0 %>
        <tr class="header-row">
          <th><span>Item name</span></th>
          <th><span>Amount</span></th>
          <th><span>Who is bringing this item</span></th>
          <th><span>Comment</span></th>
        </tr>
        <% total_items = 0 %>
        <% @event.attendants.each do |attendant| %>
        <% attendant.brought_items.each do |item| %>
        <%= render 'checked_item', :b_item => item, :even_row => (total_items += 1) % 2 == 0 %>
        <% end %>
        <% end %>
        <% end %>
        <tr class="<%= @event.attendants.count > 0 ? "hidden" : "" %> emptiness-indicator row-odd">
          <td><span>No-one is bringing any items at the moment.</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>