<div id="aboutText">
  <h3>About this service</h3>
  <p>Camilona allows you to share the responsibility for bringing items to the event with your friends via couple of easy steps. All this can be made without any registrations!
  <p>First you create an event. When creating the event you can add needed items to it.</p>
  <p>When the event is completed, you just send the URL of the event to the people you want to invite and they will be able to declare what items they will be bringing.</p>
  <p>Camilona has been created and is operated by the Camilona Crew.</p>
</div>