<tr class="row-odd checked-item">
    <td class="item-name"><span>Some item</span></td>
    <td class="item-amount"><span>1</span></td>
    <td class="item-author"><span>Boba Fett</span></td>
    <td class="item-comment"><span>This was just hanging around...</span></td>
</tr>