<div id="feedbackText">
  <h3>Give us feedback</h3>
  <p>Your feedback is valuable to use. It allows us to develop Camilona to be the best service possible for you and the other users.</p>
  <p>If you wish to send us any comments, opinions or ideas, you can contact us to the address feedback@camilona.com</p>
  <p>We will reply to all messages as soon as possible. Sharing your thoughts with us is the best way to better your Camilona experience!</p>
</div>
