<div class="item-field">
    <input id="event_items_attributes_XXX_name" name="event[items_attributes][XXX][name]" type="text">
    <input id="event_items_attributes_XXX_needed_quantity" min="1" name="event[items_attributes][XXX][needed_quantity]" type="number" value="1">
    <div class="ui-state-default ui-corner-all remove-item button secondary">
        <span class="ui-icon ui-icon-closethick">Remove</span>
    </div>
</div>