<div id="privacyText">
  <h3>Privacy</h3>
  <p>Camilona takes great care to protect your privacy and to secure the data that is stored on the Camilona servers.</p>
  <p>When you use Camilona, you send pieces of data to Camilona, i.e. name, e-mail or information relating to your appointment. Camilona is designed to allow you use it almost anonymously if you wish.</p>
  <p>Camilona implements several mechanism to prevent unauthorized access to our databases and your events. Our databases are located in Finland.</p>
</div>