<footer>
    <div class="menubuttons container">
        <div id="about" class="button">
            <span>About</span>
        </div>
        <div id="privacy" class="button">
            <span>Privacy</span>
        </div>
        <div id="feedback" class="button">
            <span>Feedback</span>
        </div>
    </div>
    <div id="dialog" style="display: none">
        
    </div>
</footer>