<tr>
  <td class="event">
    <span class="name"><%= item.name %></span>
    <span class="quantity"><%= item.needed_quantity %></span>
    <span class="quantity"><%= item.current_quantity %></span>
  </td>
</tr>
