<div id="item_<%= index %>">
<% fields_for "items[#{index}]", item do |f| %>
  <p>
    <%= f.text_field :name %>
    <%= link_to 'remove', :url => { :action => 'remove_item', :index => index } %>
  </p>
<% end %>
</div>
