<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Event id:</b>
  <%= @item.event_id %>
</p>

<p>
  <b>Needed quantity:</b>
  <%= @item.needed_quantity %>
</p>

<p>
  <b>Current quantity:</b>
  <%= @item.current_quantity %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
