<!DOCTYPE html>
<html>
<head>
  <title>Camilona :: <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "libs/require-min", :'data-main' => @main_app %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="wrapper container">
    
<%= if(controller.action_name != 'home' && controller.action_name != 'create') then render 'header' end %>

<%= yield %>

<%= if(controller.action_name != 'home' && controller.action_name != 'create') then render 'footer' end %>

</div>
</body>
</html>
